.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.FileInput {
  /* width: 0.1px; 
  height: 0.1px; 
  opacity: 0; 
  overflow: hidden; 
  position: absolute; 
  z-index: -1; */
  visibility: hidden;
}

.FileDisplay {
  padding-left: 5px;
  padding-right: 5px;
}

.Icon {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: gray;
  display: inline-block;
  text-align: center;
}

.Icon:hover {
  background-color: red;
}

.Button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

