.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.Icon {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: gray;
  display: inline-block;
  text-align: center;
}

.Icon:hover {
  background-color: red;
}

.Button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

